{% extends 'base/base.html' %}
{% block title %}{{ 'Confirmar Contraseña' }}{% endblock %}
{% block activate-iniciarsesion %}{{ 'active' }}{% endblock %}
{% block titulo %}{{ 'Confirmar Contraseña' }}{% endblock %}
{% block content %}
{% if validlink %}
<form method="post">
	{% csrf_token %}


<div class="container">
    <div class="card card-login mx-auto mt-5">
      <div class="card-header">Recuperar cuenta</div>
        <div class="card-body">
          <div class="text-center">
            <h4>Confirmar contraseña</h4>
            <p>Ingrese su nueva contraseña</p>
          </div>
            <form>
              <div class="form-group">
                <label for="id_new_password1"></label>

                <input class="form-control" id="id_new_password1" type="password" name="new_password1"  placeholder="Nueva contraseña">
              </div>
              <div class="form-group">
                <label for="id_new_password2"></label>
                <input class="form-control" id="id_new_password2" type="password" name="new_password2" placeholder="Confirmar contraseña">
              </div>
              <input class="btn btn-primary btn-block" type="submit" value="Cambiar contraseña">
            </form>
        </div>
      </div>

</form>

{% else %}
<div class="container">
    	<div class=" text-white">
      		<div class="card-body">
    		<h1 class="text-center">Enlace inválido, este enlace ya fue utilizado</h1>
      		</div>
    	</div>
  </div>


{% endif %}
{% endblock %}
