{% extends 'base/base.html' %}
{% block title %}{{ 'Reestablecer Contraseña' }}{% endblock %}
{% block activate-iniciarsesion %}{{ 'active' }}{% endblock %}
{% block titulo %}{{ 'Reestablecer Contraseña' }}{% endblock %}
{% block content %}
  <form method="post">
  {% csrf_token %}
  <div class="container">
    <div class="card card-login mx-auto mt-5">
      <div class="card-header">Recuperar cuenta</div>
        <div class="card-body">
          <div class="text-center mt-4 mb-5">
            <h4>Olvidó su contraseña?</h4>
            <p>Ingrese su dirección de correo electrónico y nosotros le enviaremos un mensaje de recuperación.</p>
          </div>
          <form>
          <div class="form-group">
            <!--{{ form.email }}-->
            <input class="form-control" id="id_email" type="email" name="email" placeholder="correo electrónico">

            <!--<input class="form-control" id="exampleInputEmail1" type="email" aria-describedby="emailHelp" placeholder="correo">-->
          </div>
            <input class="btn btn-primary btn-block" type="submit" data-toggle="modal" value="Restablecer contraseña" data-target="#exampleModal" >
          </form>
          <div class="text-center">
            <br>
            <a class="d-block small" href="{% url 'login' %}">Iniciar sesión</a>
          </div>
        </div>
      </div>
    </div>
  </form>
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Recuperar cuenta</h5>
        <button class="close" type="button" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">×</span>
        </button>
      </div>
      <div class="modal-body">Te hemos enviado un mensaje con un enlace para recuperar tu cuenta</div>
      <div class="modal-footer">
            <button class="btn btn-primary" type="button" data-dismiss="modal">Ok</button>
      </div>
    </div>
  </div>
</div>

{% endblock %}
