{% extends 'base/base_2.html' %}
{% block title %}{{ 'Eliminar Relación Perfil - Nivel' }}{% endblock %}
{% block activate-listasimulacion %}{{ 'active' }}{% endblock %}
{% block titulo %}{{ 'Eliminar Relación Perfil - Nivel' }}{% endblock %}
{% block content %}
    <form method="post">
    	{% csrf_token %}
    	<h3>¿Desea eliminar la relación: {{ object.idPerfil }} - {{ object.idNivel }}?</h3>
    	<button class="btn btn-danger" type="submit">Sí, eliminar</button>
      <a class="btn btn-primary" href="{% url 'simulacion:simulacion_mostrar' pk %}">Cancelar</a>
    </form>
{% endblock %}
