{% extends 'base/base_2.html' %}
{% block title %}{{ 'Eliminar Nivel' }}{% endblock %}
{% block activate-listasimulacion %}{{ 'active' }}{% endblock %}
{% block titulo %}{{ 'Eliminar Nivel' }}{% endblock %}
{% block content %}
    <form method="post">
    	{% csrf_token %}
    	<h3>¿Desea eliminar el nivel {{ object.nombre }}?</h3>
    	<button class="btn btn-danger" type="submit">Sí, eliminar</button>
    	<a class= "btn btn-primary" href="{% url 'simulacion:simulacion_mostrar' pk_1 %}">Cancelar</a>
    </form>
{% endblock %}
