{% extends 'base/base_2.html' %}
{% block title %}{{ 'Eliminar Atributo' }}{% endblock %}
{% block activate-listasimulacion %}{{ 'active' }}{% endblock %}
{% block titulo %}{{ 'Eliminar Atributo' }}{% endblock %}
{% block content %}
    <form method="post">
    	{% csrf_token %}
    	<h3>¿Desea eliminar el atributo {{ object.nombre }}?</h3>
    	<button class="btn btn-danger" type="submit">Sí, eliminar</button>
      <a class="btn btn-primary" href="{% url 'simulacion:simulacion_mostrar' object.idSimulacion %}">Cancelar</a>
    </form>
{% endblock %}
