{% extends 'base/base_2.html' %}
{% block title %}
  {% if pk_1 %}
    {{ 'Modificar Atributo' }}
  {% else %}
    {{ 'Registrar Atributo' }}
  {% endif %}
{% endblock %}
{% block activate-listasimulacion %}{{ 'active' }}{% endblock %}
{% block titulo %}
  {% if pk_1 %}
    {{ 'Modificar Atributo' }}
  {% else %}
    {{ 'Registrar Atributo' }}
  {% endif %}
{% endblock %}
{% block content %}
    <form method="post">
    	{% csrf_token %}
    	{{ form.as_p }}
    	<button class="btn btn-success" type="submit">Guardar</button>
      {% if pk_1 %}
    	  <a class="btn btn-primary" href="{% url 'simulacion:simulacion_mostrar' pk_1 %}">Cancelar</a>
      {% else %}
        <a class="btn btn-primary" href="{% url 'simulacion:simulacion_mostrar' pk %}">Cancelar</a>
      {% endif %}
    </form>
{% endblock %}
