{% extends 'base/base_2.html' %}
{% block title %}{{ 'Eliminar Usuario' }}{% endblock %}
{% block activate-verusuarios %}{{ 'active' }}{% endblock %}
{% block titulo %}{{ 'Eliminar Usuario' }}{% endblock %}
{% block content %}
<form method="post">
	{% csrf_token %}
	<h3>¿Desea eliminar el registro de  {{ object.first_name}}?</h3>
	<button class="btn btn-danger" type="submit">Sí, eliminar</button>
	<a class="btn btn-default" href="{% url 'usuario:usuario_list' %}">Cancelar</a>
</form>
{% endblock %}
