{% extends 'base/base.html' %}
<!doctype html>
<html lang="es">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">
{% block content %}
    <title>Lista de Encuestas</title>
  </head>
  <body>
    <h2>Lista de Encuestas</h2>
    <table class="table table-bordered">
    <thead>
        <tr>
            <td>Nombre de Encuesta</td>
            <td>Adiciones</td>
        </tr>

    </thead>
    <tbody>
        {% if object_list %}
        {% for simulacion in object_list %}
        <tr>
            <td>{{ simulacion.nombreEncuesta }}</td>
            <td>
                <a class="btn btn-primary" href="{% url 'simulacion:encuesta_create' simulacion.idSimulacion %}">Realizar Encuesta</a>
            </td>
        </tr>
        {% endfor %}

        {% else %}
        <h1>No hay registros de encuestas</h1>
        {% endif %}
    </tbody>
</table>
{% endblock %}

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js" integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T" crossorigin="anonymous"></script>
  </body>
</html>
